<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}},"border":{"bottom":{"color":"#cccccc","width":"1px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="noticebar" style="border-bottom-color:#cccccc;border-bottom-width:1px;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:group {"align":"full","className":"mobile-aligncenter","layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
<div class="wp-block-group alignfull mobile-aligncenter"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"className":"mobile-aligncenter","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group mobile-aligncenter"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|body-text"}}}},"textColor":"body-text","className":"mobile-hide","fontSize":"tiny","fontFamily":"poppins"} -->
<p class="has-text-align-center mobile-hide has-body-text-color has-text-color has-link-color has-poppins-font-family has-tiny-font-size" style="font-style:normal;font-weight:500">SUMMER SALE FOR ALL SWIM SUITS AND FREE EXPRESS INTERNATIONAL DELIVERY - OFF 50%</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"10px","bottom":"20px"}}},"className":"sp-navigation"} -->
<div id="navigation" class="wp-block-group sp-navigation" style="padding-top:10px;padding-bottom:20px"><!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"className":"sp-navigation"} -->
<div class="wp-block-group sp-navigation"><!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}},"backgroundColor":"background","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"5px"}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"left","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:site-title /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:navigation {"ref":6,"textColor":"foreground","icon":"menu","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"content-heading","fontFamily":"poppins"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search ....","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"layout":{"selfStretch":"fixed","flexSize":"200px"},"border":{"radius":"0px","width":"1px"}},"borderColor":"primary","backgroundColor":"primary","textColor":"secondary","fontSize":"medium","fontFamily":"poppins"} /-->

<!-- wp:woocommerce/mini-cart {"textColor":"foreground"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->