/*!
Theme Name: WooCommerce FSE
Theme URI: https://sparklewpthemes.com/wordpress-themes/sparkle-fse-full-site-editing-wordpress-theme/
Author: sparklewpthemes
Author URI: https://sparklewpthemes.com
Description: Sparkle FSE is a modern block-based theme where you can build your own unique-looking website by using WordPress Blocks Editor. Sparkle FSE is a multipurpose block-based free WordPress theme, the theme is built in accordance with Full Site Editing features introduced in WordPress 5.9, which means that all the aspects including colors, typography, and the layout of every single page on your site can be customized to suit your need.
Version: 1.0.6
Requires at least: 5.9
Tested up to: 6.1
Requires PHP: 5.6
License: GPLv3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: sparkle-fse
Template: sparkle-fse
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Sparkle FSE is based on Twenty Twenty-Two WordPress Theme, (C) 2021 WordPress.org
Twenty Twenty-Two is distributed under the terms of the GNU GPL.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/**
 * We get values from WordPress core block css.
 *
 */

/** default search **/

select,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  background: var(--wp--preset--color--background);
}

.wp-block-search__inside-wrapper .wp-block-search__button {
  margin: 0;
  border-radius: 0 !important;
}

/* Additional CSS */
:root {
  --wp--custom--core-button--color--background: #e24e62 !important;
}

.is-position-relative {
  position: relative;
}

.has-minus-margin {
  margin-left: -140px !important;
}

.wp-block-social-link {
  border-radius: 3px !important;
  display: block;
  height: auto;
  transition: transform .1s ease;
  color: #fff !important;
  padding: 4px;
}

.has-icon .wp-element-button {
  background: #282e87 !important;
}

.wp-block-search__button,
.editor-styles-wrapper .wp-block-search .wp-block-search__inside-wrapper .wp-block-search__input {
  padding: 15px;
  border-radius: 0;
  cursor: pointer;
  line-height: 26px;
  border-radius: 0 4px 4px 0;
  color: #fff !important;
}

.wp-block-search__button {
  border-radius: 0;
  cursor: pointer;
  line-height: 26px;
  border-radius: 0 4px 4px 0 !important;
  color: #fff !important;
  ;
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
  border: 0;
  padding: 4px;
}

.box-header {
  padding: 25px 20px !important;
  background: #282e87 !important;
}

.sp-underline {
  min-width: 100% !important;
  border-bottom: 2px solid #ccc;
  color: inherit;
}

.has-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.has-position>li {
  position: relative !important;
}

.sale-color {
  background: #e24e62;
  color: #fff;
  border: none;
  font-size: 13px !important;
}

.sale-has-position {
  position: absolute;
  top: 0;
  right: 0;
}

.price {
  color: #e24e62 !important;

}

.products li a,
.hide-background button,
.hide-background * {
  background: none !important;
  color: #282e87 !important;
  text-decoration: underline !important;
  text-transform: uppercase;
  font-size: 11px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select,
input[type="text"] {
  border-radius: 0 !important;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 2px solid #fff !important;
  background: none !important;
}

.woocommerce ul.products li.product .onsale {
  transform: rotate(0deg) !important;
  border-radius: 3px !important;
}

.woocommerce bdi {
  text-decoration: none;
  font-size: 22px !important;
  font-family: 'Poppins';
}

.woocommerce ul.products li.product .button {
  display: block !important;
  /* margin-top: 1em; */
  font-size: 15px !important;
  font-family: 'Poppins';
  letter-spacing: 2px;
}

.text-area-background input[type="search"] {
  background: #f0f0f0 !important;
}