<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:cover {"url":"https://demo.sparkletheme.com/sparkle-fse/mart/wp-content/uploads/sites/39/2023/04/Group-7.png","id":374,"dimRatio":50,"minHeight":353,"minHeightUnit":"px","customGradient":"linear-gradient(90deg,rgb(0,0,0) 52%,rgba(150,149,240,0) 96%)","contentPosition":"center center","style":{"spacing":{"padding":{"top":"50px"}}}} -->
<div class="wp-block-cover" style="padding-top:50px;min-height:353px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim wp-block-cover__gradient-background has-background-gradient" style="background:linear-gradient(90deg,rgb(0,0,0) 52%,rgba(150,149,240,0) 96%)"></span><img class="wp-block-cover__image-background wp-image-374" alt="" src="https://demo.sparkletheme.com/sparkle-fse/mart/wp-content/uploads/sites/39/2023/04/Group-7.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"textAlign":"center","level":1,"align":"wide","textColor":"background","fontSize":"huge"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:80px;padding-bottom:80px"><!-- wp:woocommerce/legacy-template {"template":"single-product"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->